<div class="app flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="card mx-12">
			

<div style="margin: auto; max-width: 1000px; margin-top:50px">
    <data-table id="erreurs-grid"
        headerTitle="Erreurs"
        [items]="erreurs"
        [itemCount]="erreursCount"
        (reload)="reloadErreurs($event)"

        [limit]="8"
        [sortBy]="'rating'"
        [sortAsc]="false"

        [selectColumn]="true"
        [multiSelect]="false"
        [substituteRows]="false"
        [expandableRows]="true"
        [translations]="translations"
        [indexColumnHeader]="'#'"
        [selectOnRowClick]="true"
        >
        <template #dataTableExpand let-item="item">
            <div [textContent]="item.description" style="padding: 5px; color: gray"></div>
        </template>
        <data-table-column
            [property]="'id_erreur'"
            [header]="'Id Erreur'"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            [property]="'code_type_erreur'"
            [header]="'Code type Erreur'"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            [property]="'code_type_eo'"
            [header]="'Code type EO'"
            [sortable]="true"
            [cellColors]="cellColor">
        </data-table-column>
        <data-table-column
            [property]="'numero_contrat'"
            [header]="'Numéro de contrat'">
        </data-table-column>
    </data-table>
    <div style="margin-top: 10px">
        <b>Selected:</b>
        <span *ngIf="erreursTable.selectedRow == null"><i>No item selected</i></span>
        <span [textContent]="erreursTable.selectedRow && erreursTable.selectedRow.item.title"></span>
    </div>
</div>
				</div>

			</div>
		</div>
	</div>
</div>
