<div class="app flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card mx-4">
					<div class="card-body p-4">

						<form (ngSubmit)="searchErreurs()">
							<div class="form-group row">
								<label class="col-md-3 form-control-label" for="text-input">Id
									Eo</label>
								<div class="col-md-9">
									<input type="text" [(ngModel)]="erreursParCriteres.id_eo"
										id="text-input" name="text-input" class="form-control"
										placeholder="number">
								</div>
							</div>

							<div class="form-group row">
								<label class="col-md-3 form-control-label" for="select">CodeType
									Erreur</label>
								<div class="col-md-9">
									<select id="select" name="select" class="form-control"
										[(ngModel)]="erreursParCriteres.code_type_erreur">
										<option>INCOHERENCE_AS400</option>
										<option>REFERENTIEL_PRODUIT</option>
										<option>REFERENTIEL_PARTENAIRE</option>
										<option>OPERATION</option>
										<option>COMMISSION_PLACEMENT</option>
										<option>TECHNIQUE</option>
									</select>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-md-3 form-control-label" for="text-input">Id
									Sequence</label>
								<div class="col-md-9">
									<input type="text" id="text-input" name="text-input"
										[(ngModel)]="erreursParCriteres.id_sequence"
										class="form-control" placeholder="number">
								</div>
							</div>

							<div class="form-group row">
								<label class="col-md-3 form-control-label" for="select">Code
									Type EO</label>
								<div class="col-md-9">
									<select id="select" name="select" class="form-control"
										[(ngModel)]="erreursParCriteres.code_type_eo">
										<option>COMMISSION</option>
										<option>REMISE_EN_BANQUE</option>
										<option>RH</option>
										<option>EO</option>
									</select>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-md-3 form-control-label" for="text-input">Numéro
									de contrat</label>
								<div class="col-md-9">
									<input type="text" id="text-input" name="text-input"
										[(ngModel)]="erreursParCriteres.numero_contrat"
										class="form-control" placeholder="number">
								</div>
							</div>

							<div class="form-group row">
								<label class="col-md-3 form-control-label" for="select">Source
									d'erreur</label>
								<div class="col-md-9">
									<select id="select" name="select" class="form-control"
										[(ngModel)]="erreursParCriteres.source_erreur">
										<option>REFERENTIEL</option>
										<option>AS400</option>
										<option>ROUTEUR</option>
										<option>TRACES</option>
									</select>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-md-3 form-control-label" for="text-input">Date
									début</label>
								<div class="col-md-9">
									<input type="date" id="fromDate" class="datepicker"
										[(ngModel)]="erreursParCriteres.date_debut_erreur"
										(ngModelChange)="erreursParCriteres.date_debut_erreur = $event"
										type="date" name="startDate" class="form-control">
								</div>
							</div>
							
							<div class="form-group row">
								<label class="col-md-3 form-control-label" for="text-input">Date
									fin</label>
								<div class="col-md-9">
									<input type="date" id="fromDate" class="datepicker"
										[(ngModel)]="erreursParCriteres.date_fin_erreur"
										(ngModelChange)="erreursParCriteres.date_fin_erreur = $event"
										type="date" name="startDate" class="form-control">
								</div>
							</div>
							

							<div class="form-group row">
								<p>Si aucun critère n'est sélectionné,les erreurs de dernier
									mois seront affichèes</p>
							</div>
							<button type="button" [routerLink]="['../erreurs']" (click)="onLoggedin()"
 +								class="btn btn-outline-danger btn-lg btn-block">Valider</button>
						</form>

						<div class="form-group">
							<label class="col-xs-4 control-label">Submitted Data : </label>
							<div class="col-xs-8">
								<div [hidden]="!submitted">
									<span>from angulartypescript.com</span>
									<textarea style="width: 300px" class="form-control" rows="6">{{data}}</textarea>
								</div>
								<div [hidden]="submitted">
									<span>Edit your Data then click Submit to get Data from
										: angulartypescript.com</span>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
